.root {
    -fx-background-image: url("images/stone_texture.jpg");
    -fx-background-size: cover;
}

/* Style buttons to be blocky with a stone-like border */
.button {


    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-family: "Press Start 2P";
    -fx-background-color: #333333;

    -fx-min-width: 100px;
    -fx-min-height: 40px;
}

/* When hovered, buttons become slightly lighter */
.button:hover {
    -fx-background-color: #282828;
}

/* Style labels with a pixelated look */
.label {
    -fx-font-family: "Press Start 2P";
    -fx-text-fill: white;
    -fx-font-size: 16px;
}



